<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css" rel="stylesheet">


</head>
<body class="text-center">
<form action="/auth/login" class="form-signin" method="post">
    <img alt="" class="mb-4" height="72" src="https://www.flaticon.com/svg/static/icons/svg/857/857681.svg" width="72">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <label class="visually-hidden" for="username">Username</label>
    <input autofocus class="form-control" id="username" name="username" placeholder="Username" required type="text">
    <label class="visually-hidden" for="password">Password</label>
    <input class="form-control" id="password" name="password" placeholder="Password" required type="password">
    <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>
</body>
</html>